.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
}

.box {
  border-radius: 3px;
}

.one {
  background-color: #82E0AA;
}

.two {
  background-color: #99A3A4;
}

.three {
  background-color: #E59866;
}

.four {
  background-color: #F4D03F;
}

.five {
  background-color: #EC7063;
}

.six {
  background-color: #5DADE2;
}